extends layout

block content
  h1= title
  p Welcome to #{title}
  .color 一种是字符串的方式 es6 模板字符串 一种是= 需要紧靠标签元素  看来在后面直接this.stat  和react 差不多 this.state.name 这是使用 setState vue忘了 不过明天就可以了 是vue2
  p= name
  p fs.statSync() #{name}
  p= ycd
  p= age
